body {
  background-color: rgba(201, 248, 240, 0.555);
  /* background-color:rgba(28, 231, 231, 0.411); */
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  /* background-image: linear-gradient(to bottom right, rgba(253, 255, 255, 0.452), rgba(114, 250, 250, 0.726)); */
}
img {
  border-image: 2px solid black;
  height: 130px;
  width: 130px;
}
.bgcolor-todo {
  background-color:rgba(255, 68, 0, 0.726);
}
.bgcolor-inprogress {
  background-color: rgba(48, 230, 236, 0.342);
}
.bgcolor-review {
  background-color: rgba(219, 44, 235, 0.418);
}

.bgcolor-done {
  background-color: rgba(64, 235, 135, 0.418);
}

.bgcolumn-todo {
  background-color: rgba(255, 68, 0, 0.568);
}
.bgcolumn-inprogress {
  background-color: rgba(17, 221, 228, 0.555);
}
.bgcolumn-review {
  background-color: rgba(219, 44, 235, 0.575);
}
.bgcolumn-done {
  background-color: rgba(64, 235, 135, 0.76);
}
.imgsmily {
  height: 40px;
  width: 50px;
}
.modelbodycolor {
  background-color: rgba(248, 218, 201, 0.452);
}
.bgcolor-done,
.bgcolor-inprogress,
.bgcolor-review,
.bgcolor-todo {
    
  border-top-right-radius: 100px 50px;
  border-bottom-right-radius: 100px 50px;
  background-clip: content-box;
  padding: 0px;
  margin-right: 10px;
  font-weight:900;
  box-shadow: 5px 5px 10px rgba(22, 20, 19, 0.589);
  text-shadow: 2px 3px 2px rgba(75, 69, 64, 0.589);
}
.bgcolumn-todo,
.bgcolumn-inprogress,
.bgcolumn-review,
.bgcolumn-done {
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-right: 10px;
  /* margin-bottom: 50px; */
  box-shadow: 5px 5px 10px rgba(22, 20, 19, 0.589);
}
.mycardclass {
  border-left: 5px solid rgba(22, 20, 19, 0.74);
  margin-bottom: 12px;
  box-shadow: 5px 5px 5px rgba(17, 9, 5, 0.589);
}
.card-header:hover {
    background-color: rgba(168, 159, 159, 0.473);
}
.buttonclass{
    box-shadow: 5px 5px 5px rgba(17, 9, 5, 0.589);
    text-shadow: 2px 3px 2px rgba(247, 245, 244, 0.589);
}
.myheadingclass{
    font-weight: 700;
    text-shadow: 0px 3px 5px rgba(17, 9, 5, 0.589);
}
