* {
    box-sizing: border-box;
}

.container {
  width: 50%;
  padding: 10px;
  background-color: white(152, 152, 194); 
  display: flex;
  display: grid;
  align-self: center;
}

.panel {
 width: 100%;
  background-color: rgb(247, 245, 238);
  
}

.panel .panel-footer {
  text-align: right;
  
}

.btn {
  padding: 10px;
  box-shadow: cadetblue;
  
}